.footer {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black1;
  color: $primers;
  flex-direction: column;
  font-family: $ff-2;
  font-size: $x-large;
  @media (min-width: $mq-tablet) {
    height: 100px;
    justify-content: space-around;
    flex-direction: row;
    font-size: $x-small;
    margin: 0;
  }
  &__dr {
    width: 70%;
    text-align: center;
    padding-bottom: 45px;
    padding-top: 20px;
    @media (min-width: $mq-tablet) {
      text-align: left;
      width: auto;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  &__link {
    @media (min-width: $mq-tablet) {
      display: flex;
    }
  }
  &__right {
    &--ib {
    }
    &--ib__button {
      display: block;
      text-align: center;
      width: 20%;
      font-family: $ff-2;
      font-size: $xx-large;
      margin: 10px auto;
      background-color: $colors1;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      @media (min-width: $mq-tablet) {
        display: inline-block;
        margin: 0;
        font-size: $large;
        width: 80px;
        height: 40px;
      }
    }

    &--ib__input {
      display: block;
      margin: 10px 100px;
      text-align: left;
      font-size: $xxx-large;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      @media (min-width: $mq-tablet) {
        display: inline-block;
        font-size: $large;
        height: 38px;
        margin: 0;
      }
    }
  }
}

#footer__right--link {
  color: $primers;
  display: block;
  text-align: center;
  @media (min-width: $mq-tablet) {
    display: flex;
    padding: 0 15px;
  }
}
.linkfooter {
  @media (min-width: $mq-tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
