.img__head{

    background-image: url(/assets/img/desarrolloweb2021t.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    @media (min-width: $mq-tablet) {
        height: 25vw;
    }
    height: 60vw;
    
}