
a {
  text-decoration: none;
}

.section2 {
    border: 1px solid $black3;
    padding: 10px;
    margin-bottom: 10px;
    @media (min-width: $mq-tablet){
        margin-left: 5px;
        }
  &__grouplinks {
    padding-left: 1%;
    list-style-type: circle;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    color: $black1;
    &--links {
      padding-left: 10px;
      font-family: $ff-2;
    }
  }
  &__paragraph {
    font-family: $ff-1;
  }
  &__rrss {
    display: flex;
    justify-content: center;
    &--img {
        border: 1px solid $black1;
        border-radius: 50%;
        width: 50%;
        @media (min-width: $mq-tablet){
            width: 25%;
            margin: 10px 5px 0 5px;
      }
    }
  }
  &__svg1 {
    display: block;
    margin: auto;
    width:70%;
    padding: 40px 0 80px 0;
    @media (min-width: $mq-tablet){
        width: 25%;
    }
  }
  &__title1 {
    text-align: center;
    font-family: $ff-1;
  }
  &__title2 {
    background-color: $black3;
    color: $primers;
    text-align: center;
    font-family: $ff-2;
  }
}
