//Colors
$primers: #ffffff;
$black1:#000000;
$black2: #060606;
$black3: #2E1503;
$colors1: #FFAF6D;
$colors2:#FFA500;

//Letters
$ff-1: "Ubuntu", sans-serif;
$ff-2: "Poppins", sans-serif;

//Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Media queris
$mq-tablet:768px;
$mq-desktops: 992px;
