body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
}

.respmenu a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-bottom: 2px solid #456789;
  max-width: 200px;
  background: #000000;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px #000000;
}
@media (min-width: 768px) {
  .respmenu a {
    border-bottom: 0;
    text-shadow: 0 0;
  }
}

.repmenu__img {
  padding-left: 30px;
}

.respmenu input[type=checkbox],
.respmenu .fa-bars,
.respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
}
@media (min-width: 768px) {
  .respmenu input[type=checkbox],
.respmenu .fa-bars,
.respmenu .fa-times {
    display: none;
  }
}

.respmenu .fa-bars,
.respmenu .fa-times {
  font-size: 48px;
  pointer-events: none;
}

.respmenu input[type=checkbox] {
  opacity: 0;
}

.respmenu {
  color: white;
  position: relative;
  background: #000000;
  min-height: 48px;
}
@media (min-width: 768px) {
  .respmenu {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  li {
    display: inline-block;
  }
}

.respmenu nav {
  display: none;
}
@media (min-width: 768px) {
  .respmenu nav {
    display: contents;
  }
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked ~ .fa-bars {
  display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
  display: none;
}

.respmenu:hover {
  color: #FFAF6D;
}

.img__head {
  background-image: url(/assets/img/desarrolloweb2021t.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  height: 60vw;
}
@media (min-width: 768px) {
  .img__head {
    height: 25vw;
  }
}

.section1 {
  border: 1px solid #2E1503;
  padding: 10px;
}
.section1__bgimg1--one {
  background-image: url(/assets/img/html-y-cssb-.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  height: 20vw;
  margin: 5px 5px 0 5px;
}
.section1__bgimg2--two {
  background-image: url(/assets/img/sass.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  height: 23vw;
  margin: 5px 5px 0 5px;
}
.section1__one {
  border: 1px solid #2E1503;
  margin-bottom: 10px;
}
.section1__one--article1 {
  padding: 0 15px 15px 15px;
}
.section1__two {
  border: 1px solid #2E1503;
}
.section1__two--article2 {
  padding: 0 15px 15px 15px;
}

a {
  text-decoration: none;
}

.section2 {
  border: 1px solid #2E1503;
  padding: 10px;
}
.section2__grouplinks {
  padding-left: 1%;
  list-style-type: circle;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  color: #000000;
}
.section2__grouplinks--links {
  padding-left: 10px;
}
.section2__rrss {
  display: flex;
  justify-content: center;
}
.section2__rrss--img {
  width: 25%;
  margin: 10px 5px 0 5px;
  border-radius: 50%;
}
.section2__svg1 {
  display: block;
  margin: auto;
  width: 25%;
}
.section2__title1 {
  text-align: center;
}
.section2__title2 {
  background-color: #2E1503;
  color: #ffffff;
  text-align: center;
}

.rotar {
  transform-origin: 53% 51%;
  transform-box: fill-box;
  animation: rotateBox 3s linear infinite;
}

@keyframes rotateBox {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateBox {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes moveleft {
  0% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  50% {
    transform: translate(160px, 0);
    -webkit-transform: translate(160px, 0);
    -moz-transform: translate(160px, 0);
    -ms-transform: translate(160px, 0);
    -o-transform: translate(160px, 0);
  }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
.section3-svg1__horizontal {
  animation-name: moveleft;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@media (min-width: 768px) {
  .content {
    display: flex;
  }
}

.footer {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
